<div id='pager'>
    <!--При наличии единственной страницы кнопки // листания страниц не отображаются-->
    <% if (page.count > 1) { %>
    <!--Если мы находимся не на первой странице, показываем // ссылку на предыдущую страницу-->
    <% if (page.number) { %>
    <a id='prev' href='/?page=<%= page.number %>'>Prev</a>
    <% } %>
    <!--Если мы находимся не на последней странице, показываем // ссылку на следующую страницу-->
    <% if (page.number < page.count - 1) { %>
    <% if (page.number) { %>
    &nbsp;&nbsp;
    <% } %>
    <a id='next' href='/?page=<%= page.number + 2 %>'>Next</a>
    <% } %>
    <% } %>
</div>